<ion-app>
 <ion-menu side="start" menuId="first" >
  <ion-header >
    <ion-toolbar >
      <ion-title [ngStyle]="{'color':'#FFD700'}">MI COMEDOR</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list >
    <ion-menu-toggle *ngFor="let i of itemsMenu">
      <ion-item  [routerLink]="i.url">
      <ion-label>{{i.titulo}}</ion-label>
      <ion-icon slot="start" [name]="i.icono"></ion-icon> 
     </ion-item>
      </ion-menu-toggle>
      </ion-list>
  </ion-content>
</ion-menu>
 <ion-router-outlet  main></ion-router-outlet>
</ion-app>