<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-menu-button menuId="first" ></ion-menu-button>
  </ion-buttons>
    <ion-title text-center>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
  <ion-card-header>
     <img src="assets/icon/bienvenido.jpg">
  </ion-card-header>
</ion-card>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
      <ion-card>
  <ion-card-header>
    <H1 text-center>MI COMEDOR</H1>
  </ion-card-header>
  <ion-card-subtitle> 
    <h2>Autoras:</h2>
     <H3>Lady Lorena Hernandez</H3>
     <H3>Karol Tatiana Alfonso</H3>
   </ion-card-subtitle>
</ion-card>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
     <ion-button expand="block" href="iniciar">Iniciar Sesion</ion-button>
    </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
     <ion-button expand="block" href="registro">Registrarse</ion-button>
    </ion-col>
   </ion-row>
</ion-grid>
</ion-content>
